:root{
    /* Colors */
    --white: #fff;
    --black: #444;
    --gray: #EBEAED;
    --headings: #1E0E62;
    --fonts: rgba(21, 20, 57, 0.4);
    --experienceBtn: #25DAC5;
    --email: #482BE7;
    --socialicons: #9999A7;
    --bg: #F1F1F1;

}
html{
    box-sizing: border-box;
    font-size: 16px;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'DM Sans', sans-serif;
}
/* Generic defaults */
h1, h2, h3, p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

/* Header */
.header{
    height: 5.625rem;
    background-color: var(--white);
    padding: 0 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title{
    color: var(--headings);
    font-size: 1.5rem;
    font-weight: 700;
}
.header__email{
    color: var(--headings);
    font-size: 1rem;
    border: 2px solid var(--gray);
    border-radius: 6.25em;
    padding: 0.5625rem 1.875rem;
}
.header__email:hover{
    transition: all ease .25s;
    background-color: #eee;
}
/* Container */
.container{
    background-color: var(--bg);
}
.container__introduction{
    padding: 6.1875rem 3rem;
}
.container__introduction__info__title{
    color: var(--headings);
    font-size: 2.6875rem;
    font-weight: 700;
    line-height: 3.75rem;
    margin-bottom: 1em;
}
.container__introduction__info__text{
    color: var(--fonts);
    width: 75%;
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin-bottom: 2em;
}
.container__introduction__img{
    width: 75%;
    border-radius: 0.625rem;
}

.container__skills{
    padding: 1.375rem 3.125rem;
}
.container__skills__title{
    color: var(--headings);
    font-size: 3.25rem;
    margin-bottom: .5em;
}
.container__skills__text{
    color: var(--fonts);
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 3em;
}
.container__skills__tecnologies{
    padding: 0 1.25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4.9375rem;
}
.container__skills__tecnology__title{
    color: var(--headings);
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1.5em;
}
.container__skills__tecnology__text{
    width: 75%;
    color: var(--fonts);
    font-size: 1rem;
    line-height: 1.625rem;
}
.container__exp{
    background-color: var(--white);
    padding: 5.4375rem 3rem;
}
.container__exp__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__exp__header__title{
    color: var(--headings);
    font-size: 3.25rem;
    font-weight: 500;
    margin-bottom: 1.75rem;
}
.container__exp__header__text{
    width: 75%;
    color: var(--fonts);
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1em;
}
.container__exp__header__text__link{
    color: var(--black);
}
.container__exp__header__text__link:hover{
    transition: all ease .25s;
    opacity: .7;
}
.container__exp__header__btn{
    background-color: var(--experienceBtn);
    color: var(--white);
    border-radius: 6.25rem;
    padding: 0.75rem 1.25rem;
    margin-bottom: 5.4375rem;
}
.container__exp__header__btn:hover{
    transition: all ease .25s;
    opacity: .7;
}
.container__exp__works{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
}
.container__exp__work__img{
    border-radius: 0.625rem;
    margin-bottom: 1.25rem;
}
.container__exp__work__img:hover{
    transition: all ease .25s;
    opacity: .7;
    transform: scale(1.01);
}
.container__exp__work__title{
    color: var(--headings);
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}
.container__exp__work__text{
    color: var(--fonts);
    font-size: 1rem;
    line-height: 1.625em;
    margin-bottom: 1em;
}
.container__exp__work__btns{
    display: flex;
    column-gap: 2rem;
}
.container__exp__work__btn{
    width: fit-content;
    font-size: .75rem;
    font-weight: 500;
    border-radius: 6.25em;
    padding: 0.75em 1.25em;
}
.demo{
    background-color: var(--gray);
    color: var(--headings);
}
.repo{
    background-color: var(--black);
    color: var(--white);
}
.container__exp__work__btn:hover{
    transition: all ease .25s;
    opacity: .7;
}

/* Footer */
.footer{
    height: 20.6875rem;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__email{
    color: var(--headings);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2.1875rem;
    text-align: center;
    margin-bottom: 2.5rem;
}
.email-clr{
    color: var(--email);
}
.email-clr:hover{
    transition: all ease .25s;
    opacity: .7;
}
.footer__socials{
    width: 12.5rem;
    display: flex;
    justify-content: space-between;
}
.footer__social-icon{
    color: var(--socialicons);
    font-size: 1.375rem;
}
.footer__social-icon:hover{
    transition: all ease .25s;
    color: var(--black);
}
/* Responsive Design on mobiles (320px - 600px) */
@media (max-width: 500px){
    html{
        font-size: 10px;
    }
}
/* Responsive Design on tablets (980px) */
@media (min-width: 980px){
    html{
        font-size: 12px;
    }
    .container__introduction{
        padding-inline: 7.25rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    .container__introduction__info{
        margin-top: 3.125rem;
    }
    .container__introduction__img{
        width: 100%;
    }
    .container__skills{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container__skills__tecnologies{
        margin-bottom: 9.0625rem;
        display: flex;
        gap: 4.6875rem;
    }
    .container__skills__text{
        max-width: 49.5625rem;
    }
    .container__skills__tecnology__text{
        width: 100%;
    }
    .container__exp{
        padding-inline: 7.1875rem;
    }
    .container__exp__work__title{
        height: 3rem;
    }
    .container__exp__work__text{
        height: 6.5rem;
    }
    .container__exp__header__text{
        margin-bottom: 2.5em;
    }
    .container__exp__works{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.875rem;
        row-gap: 4.375rem;
    }
    .middle{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

/* Responsive Design on desktop */
@media (min-width: 1300px) {
    html{
        font-size: 16px;
    }
}